// Variables

$mainFont: "Raleway", sans-serif;
$introColor: #ffffff;
$colorText: #87949e;
$colorTitle: #576671;
$colorGreen: #17daa3;
$colorBackground: #edeff1;
$imageIntro: url("../images/background-intro.png");

// Global

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-family: $mainFont;
}
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
section {
  padding: 30px 0;
}

.button {
  width: 183px;
  height: 47px;
  border-radius: 23px;
  background-color: rgba(0, 182, 203, 0);
  border: 2px solid $introColor;

  .button-intro {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 700;
  }
}

// Section intro

header {
  background-image: $imageIntro;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  nav {
    float: right;
    ul {
      list-style: none;
      padding-left: 0;
      li a {
        display: inline-block;
      }
    }
  }
}
// Images
img {
  max-width: 100%;
  height: auto;
}

// Grid
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
