// Variables

$mainFont: "Raleway", sans-serif;
$introColor: #ffffff;
$colorText: #87949e;
$colorTitle: #576671;
$colorGreen: #17daa3;
$colorBackground: #edeff1;
$imageIntro: url("../images/background-intro.png");
$fontTextSize: 18px;

// Global

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-family: $mainFont;
  background: $colorBackground;
  line-height: 1.7;
  font-size: $fontTextSize;
}
.container {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
}
// section {
//   padding: 185px;
// }

.button {
  width: 183px;
  height: 47px;
  border-radius: 23px;
  background-color: rgba(0, 182, 203, 0);
  border: 2px solid $introColor;

  .button-intro {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 700;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

// Section intro

section.intro {
  position: relative;
  height: 100vh;
  max-height: 1068px;
  max-width: 2000px;

  &::after {
    content: " ";
    position: absolute;
    background-image: $imageIntro;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-blend-mode: darken;
    z-index: -1;
  }
}

header {
  // width: 100%;

  nav {
    float: right;
    ul {
      display: inline-flex;
      list-style: none;
      padding-left: 0;
      li a {
        text-decoration: none;
        color: $introColor;
        width: 11px;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
        margin: 0 30px;
        font-family: "Raleway";
        font-weight: 700;
        text-align: center;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}
